<div [ngClass]="alerta" class="alert" role="alert">
    This is a primary alert—check it out!
</div>

<button class="btn btn-info" type="button" (click)="alerta = 'alert-info'">
  Info
</button>
<button class="btn btn-success" type="button" (click)="alerta = 'alert-success'">
  Success
</button>

<br /><br />

<h3 [ngClass]="{ 'text-danger': danger, 'text-info': !danger }">Hola Mundo</h3>

<button (click)="danger = !danger" type="button" name="button" class="btn" [ngClass]="{ 'btn-danger': danger, 'btn-info': !danger }">
  Cambiar
</button>

<br><br>
<h3>Proceso Asíncrono</h3>

<button (click)="ejecutar()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
  <i [ngClass]="{ 'fa-save':!loading, 'fa-refresh fa-spin':loading }" class="fa"></i>
  <span *ngIf="!loading"> Guardar cambios</span>
  <span *ngIf="loading"> Espere por favor</span>
</button>